# Private Environment Variables
.env

# Local Databases
*.db
*.sqlite3

# Log Files
*.log

# Python Cache & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# AI Models & Large Weights
.deepface/
weights/

# Reports & Static Captures (Keep the folders, ignore the files)
reports/*
!reports/.gitkeep
static/attendance_captures/*
!static/attendance_captures/.gitkeep
static/profiles/*
!static/profiles/.gitkeep

# IDE Settings
.vscode/
.idea/
