flask
flask-socketio
eventlet
opencv-python-headless
numpy
pyttsx3
qrcode[pil]
reportlab
apscheduler
twilio
google-genai
python-dotenv
deepface
tf-keras
gunicorn
psycopg2-binary
pywin32;platform_system=="Windows"
